<!DOCTYPE html>
<html>
  <head>
    <title>Book</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav><%=  link_to 'Authors', authors_path(@user) %> </nav>
    <nav><%=  link_to 'Books', volumes_path(@order)%></nav>
    <%= yield %>
  </body>
</html>
